Exercise 1/.vscode/
Exercise 1/Box_Size_Estimation.ipynb
Exercise 1/Exer_01.ipynb
Exercise 1/practice.ipynb
Exercise 2/.vscode/
Exercise 2/demosaic.ipynb
Exercise 2/Demosaicing_HDR copy.ipynb
Exercise 2/Ex-02.ipynb
Exercise 2/try_Demosaicing-HDR.ipynb
Exercise 2/exercise_2_data
Exercise 2/exercise_2_data.zip
Exercise 3/.vscode/
Exercise 3/Exercise 3 Group/__pycache__
Exercise 3/Exercise 3 Group/.vscode
Exercise 3/Exercise 3 Group/comparison results.txt
Exercise 3/Exercise 3 Group/outputs
Exercise 3/Exercise 3 Group/Grp_Exer_03.ipynb
Exercise 3/Exercise 3 Group/grp_exercise3.py
Exercise 3/Exercise 3 Group/Ind_Exer_03 - Copy.ipynb
Exercise 3/Exercise 3 Group/Ind_Exer_03.ipynb
Exercise 3/Exercise 3 Group/ind_exercise3.py
Exercise 3/Exercise 3 Group/indi.py
Exercise 3/Exercise 3 Group/Individual_exercise3.py
Exercise 3/Exercise 3 Group/parmap.py
Exercise 3/Exercise 3 Group/skeleton.py
Exercise 3/Exercise 3 Group/test_vlad_gmp_gamma100.pkl.gz
Exercise 3/Exercise 3 Group/test_vlad_gmp.pkl_gamma10.gz
Exercise 3/Exercise 3 Group/test_vlad_gmp.pkl.gz
Exercise 3/Exercise 3 Group/train_vlad_gmp_gamma1.pkl.gz
Exercise 3/Exercise 3 Group/train_vlad_gmp.pkl.gz
Exercise 3/Exercise 3 Group/X_test_pca.pkl.gz
Exercise 3/Exercise 3 Group/X_train_pca.pkl.gz
Exercise 3/Exer_03.ipynb
Exercise 3/exercise3.txt
Exercise 3/grp_exercise3.py
Exercise 3/icdar17_labels_test.txt
Exercise 3/icdar17_labels_train.txt
Exercise 3/inspect_pkl.gz_files.py
Exercise 3/mun_exercise3.py
Exercise 3/Exercise 3 Group/mun_exercise3.py
Exercise 3/parmap.py
Exercise 3/skeleton.py
Exercise 3/Exercise 3 Group
Exercise 4_mine
Exercise 3/.DS_Store
Exercise 5/.vscode
Exercise 5/Ex-05/exercise-5/code/selective_search.py
Exercise 5/Ex-05/exercise-5/latex
Exercise 5/Ex-05/exercise-5/.vscode
Exercise 5/Ex-05/exercise-5/code/__pycache__
Exercise 5/Ex-05/exercise-5/code
Exercise 5/exercise-5
Exercise 5/exercise-5.zip
Individual
Exercise 5/Ex-05/exercise-5/Submission.zip
Exercise 5/Ex-05